* {
  font-family: JetBrainsMono Nerd Font;
  font-size: 13px;
}

window#waybar {
  background: transparent;
}

.modules-left,
.modules-center,
.modules-right {
  background: rgba(251, 241, 199, 0.85);
  border-radius: 12px;
  padding: 4px;
  margin: 8px 4px 0px 4px;
}

#workspaces button {
  color: #7c6f64;
  padding: 0 6px;
  border-radius: 8px;
}

#workspaces button.active {
  color: #3c3836;
  background: rgba(175, 58, 3, 0.4);
}

#clock {
  color: #3c3836;
  padding: 0 12px;
}

#pulseaudio {
  color: #b57614;
  padding: 0 10px;
}

#bluetooth {
  color: #076678;
  padding: 0 10px;
}

#network {
  color: #427b58;
  padding: 0 10px;
}

#battery {
  color: #79740e;
  padding: 0 10px;
}

#custom-mic {
  color: #79740e;
  padding: 0 8px;
}

#custom-mic.muted {
  color: #9d0006;
}
