* {
    font-family: JetBrainsMono Nerd Font;
    font-size: 13px;
}

window {
    background-color: rgba(251, 241, 199, 0.85);
    border-radius: 12px;
    border: 2px solid #b57614;
}

#input {
    background-color: rgba(251, 241, 199, 0.85);
    color: #3c3836;
    border: none;
    border-bottom: 2px solid #b57614;
    border-radius: 0;
    padding: 8px;
}

#outer-box {
    padding: 8px;
}

#entry {
    border-radius: 8px;
    padding: 4px 8px;
}

#entry:selected {
    background-color: rgba(181, 118, 20, 0.3);
}

#text {
    color: #3c3836;
}

#text:selected {
    color: #3c3836;
}
